body {
  background-color: #121212;
}

/* Prevent scrolling the body */
html, body {margin: 0; height: 100%; overflow: hidden}

/* Webkit adds scrollbars as element selectors rather than allowing the element to control their style */
.webkit-scrollbar-hide::-webkit-scrollbar {
    display: none
}